@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #212123;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  
}
header {
  background-color: rgb(126, 35, 159);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 170px;
  box-shadow: 0 5px 25px rgba(1 1 1 /30%);

}
.logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;

}
.navigation a:hover {
  color: rgb(178, 66, 218);
}
section {
  padding: 100px 200px;
}
.main  {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:  url(images/hes.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  color: rgb(178, 66, 218);
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 2.8em;
}
.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #fff;
  background-color:  rgb(178, 66, 218);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: rgb(126, 52, 172);
  transform: scale(1.1 );
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(109, 20, 142) ;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: -9.8%;

}
.title-t {
  display: flex;
  justify-content: center;
  color: rgb(109, 20, 142) ;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: -3%;
  margin-top: -2%;

}
.contont {
  display: flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;

}
.btu{
   display: flex;
   justify-content: center;
}
.hjhj{
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}
.card {
  background-color: rgb(0, 0, 0);
  width: 17.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 /100%);
  border: 1px solid rgb(0, 0, 0);
  padding:0;
  margin: 20px;
  transition: 0.7s ease;
  overflow:hidden;
  border-radius: 20px;


}
.card:hover{
  transform: scale(1.1);
}
.card:hover .icon img {
  opacity: 0.9;
}
.card img {
  width: 100%;
}
.info {
  text-align: center;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 800;
  
}
.info h3 {
  color: rgb(0, 13, 255);
  font-size: 1.3em;
  font-weight: 700;
  margin: 10px;
}

.contact {
  background-color:rgb(187, 187, 187);
  text-align: center;
  box-shadow:20px 10px;
  
}

.conteudo-geral {
  position: relative;
  overflow: hidden;
  height: 90vh;
  padding: 70px 10px;
}
.btn {
  text-align: center;
  color: #fff;
  background-color:  rgb(81, 0, 110);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  padding: 0.5375em 1.1875em;
  border-radius: 3px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.btn:hover {
  background-color:  rgb(110, 33, 158);
  transform: scale(1.1);
}
a hr{
  box-shadow: 20px 40px 20px 50px;
}
.contact hr{
  width:66%;
  margin-left: 16%;
  margin-top: 1.2%;
  color: red;
}


.folder {
  background-color:#0e0e0e;
  color: #fff;
  padding: 1.4em;
  display: flex;
  justify-content: space-between;
}

  
.folder-title {
  font-size: 1.1em;
  font-weight: 500;
}
.folder-title span {
  color: rgb(110, 33, 158);
}
.componente-interno-geral {
  position: relative;
  height: 100%;
}

.componente-interno-geral:hover .componente-fundo-imagem:after {
  opacity: 1;
}
.a {
  color: rgb(21, 0, 255);
}
.b{
  color: black;
}
.d {
  color: red;
}
.g {
  color: rgb(240, 240, 28);
}
.f {
  color: #1e00ff;
}
.l {
  color: crimson;
}
.n {
  color:green ;
}
.social-icons{
  font-size: 1.5em;
}
.folder a {
  text-decoration: none;
  color: red;
}
.componente {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s,
    z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
.componente:not(.caixa-conteudo-ativo) {
  cursor: pointer;
}
.componente-sem-rolagem {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.componente-interno {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}
.conteudo-geral.js-conteudo-geral .componente-interno {
  transform: translate3d(0, 100%, 0);
}
.componente-fundo-imagem {
  position: relative;
  height: 110%;
  transition: transform 0.6s 0.7s;
  will-change: transform;
}

.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem {
  width: calc(80vw - 15%);
}

.componente-fundo-imagem:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}

.conteudo-geral.js-conteudo-geral .componente-fundo-imagem:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition: transform 0.8s;
}
.componente-fundo-imagem:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}
.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.componente-visual-inicial {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.conteudo-geral.js-conteudo-geral .componente-visual-inicial {
  opacity: 0;
  transform: translateY(10px);
}
.conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
.componente-titulo {
  color:rgb(109, 20, 142);
  text-transform: uppercase;
  font-size: 1.6rem;
}
.componente-content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.componente.caixa-conteudo-ativo .componente-content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.componente-text {
  text-transform: uppercase;
  font-size: 40px;
  color:rgb(109, 20, 142);
}
.componente-botao-fechar {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.componente-botao-fechar:before,
.componente-botao-fechar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  height: 8px;
  margin-top: -4px;
  background: rgb(255, 0, 0);
  opacity: 0;
  transition: opacity 0s;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:before,
.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  opacity: 1;
}
.componente-botao-fechar:before {
  transform: rotate(45deg) translateX(100%);
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.componente-botao-fechar:after {
  transform: rotate(-45deg) translateX(100%);
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}
.componente-index {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.90;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
.componente:hover .componente-index {
  transform: translate3d(0, 0, 0);
}
.conteudo-geral.caixa--componente-ativo .componente-index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
.componente-index-back,
.componente-index-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.componente-index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.componente:hover .componente-index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.componente-index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}
.componente-index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color:rgb(255, 255, 255);
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}
.componente:hover .componente-index-overlay {
  transform: translate3d(0, 0, 0);
}
.componente:hover .componente-index-overlay:before {
  transform: translate3d(0, 0, 0);
}
.componente:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(1):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(1) .componente-interno {
  transition-delay: 0s;
}
.componente:nth-child(1) .componente-fundo-imagem {
  transform: translate3d(0%, 0, 0);
}
.componente:nth-child(1) .componente-fundo-imagem:before {
  transition-delay: 0s;
  background-image: url("images/ic-html.jpg");
}
.componente:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
  transform-origin: 155.2083333333% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(2):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(2) .componente-interno {
  transition-delay: 0.1s;
}
.componente:nth-child(2) .componente-fundo-imagem:before {
  transition-delay: 0.1s;
  background-image: url("images/ic-css.jpg");
}
.componente:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
  transform-origin: 260.4166666667% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(3):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(3) .componente-interno {
  transition-delay: 0.2s;
}
.componente:nth-child(3) .componente-fundo-imagem:before {
  transition-delay: 0.2s;
  background-image: url("images/ic-javascript.jpg");
}
.componente:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(4):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(4) .componente-interno {
  transition-delay: 0.3s;
}
.componente:nth-child(4) .componente-fundo-imagem:before {
  transition-delay: 0.3s;
  background-image: url("images/ic-git.jpg");
}
.componente:nth-child(5) {
  transform: translate3d(420.8333333333%, 0, 0);
  transform-origin: 470.8333333333% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(5):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(5) .componente-interno {
  transition-delay: 0.4s;
}
.componente:nth-child(5) .componente-fundo-imagem:before {
  transition-delay: 0.4s;
  background-image: url("images/ic-react.jpg");
}
.componente:hover .componente-fundo-imagem:after {
  opacity: 0;
}
.componente.caixa-conteudo-ativo {
  z-index: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}
.contact a{
  font-size: 1.1em;
  padding-right: 30px;
  padding-left: 20px;
}

@media screen and (max-width: 1120px) {
  .componente-titulo {
    font-size: 1rem;
    padding: 10px ;
  }
}
@media (max-width:1023px){
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title{
    font-size: 1.8em;
    margin-left: 10px;
  }
  section{
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    font-size: 1em;
    margin-top: 50%;
  }

}

@media (max-width:641){
  body{
    font-size: 12px;
  }
  .main-content h2{
    font-size: 0.8em;
  }
  .main-content h3{
    font-size: 1.4em;
  }

}

@media (max-width:300px){
  body {
    font-size: 10px;

  }
}

@media (max-width:375px){
  header {
    padding: 6px 12px;
  }
  .navigation a {
    padding-left: 6px;
  }
  .title{
    font-size: 1em;
  }
  section{
    padding: 30px 10px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1em;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    font-size: 1em;
    margin-top: 10%;
  }
}


@media (max-width:390px){
  header {
    padding: 6px 12px;
  }
  .navigation a {
    padding-left: -2px;
  }
}


@media (max-width:360px){
  header {
    padding: 6px 12px;
  }
  .navigation a {
    padding-left: 2px;
  }
}


@media (max-width:421px){
  .btn {
    font-size: 1em;
    margin-top: 10%;
  }
}


@media (max-width:820px){
  .title {
    margin-top: -20px;
  }
  section{
    padding: 10px 1px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1em;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
}